<div class= "profile-header">
  <p>Hey <%=@user.name %> ! <span class="pull-right"><%= link_to "Add a picture", new_photo_path, class:"btn btn-default" %></span></p>
</div>
<hr>
<br>

<% @photos.each do |photo| %>
  <%= image_tag photo.image.url %>
<% end %>
