<div class= "profile-header">
  <p><%=@user.name %>
  <% if owns? %>
    <span class="pull-right"><%= link_to "Add a picture", new_photo_path, class:"btn btn-default" %></span>
    <% end %>
    </p>
</div>
<hr>
<br>

<% @photos.each do |photo| %>
  <%= link_to photo_path(photo) do %>
    <%= image_tag photo.image.url %>
  <% end %>
<% end %>
