$("#tagged-users-div").append(
  "<p>" +
    '<%= link_to user_path(@user) do %>' +
      "<%= @user.name %>" +
    "<% end %>" +
    '<a data-confirm="are you sure?" data-method="delete" href="/tags/<%= @tag.id %>">'+
      '<i class="fa fa-trash-o"></i><br>'+
    '</a>' +
  "</p>"
);
